.dashboard-container {
  height: 100vh;
}

.header {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #1976d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 16px; */
  z-index: 1000;
}

.header .logo {
  font-size: 20px;
  font-weight: bold;
  padding: 24px;
}

.nav-buttons button {
  margin-left: 8px;
  color: white;
  white-space: nowrap;
}

.main-content {
  padding: 16px;
  padding-bottom: 64px;
  min-height: calc(100vh - 144px);
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 64px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-sidenav {
  width: 300px;
  padding: 16px;
}
